.tarjeta-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tarjeta-desktop5 {
  gap: 80px;
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(7, 7, 7, 1);
}
.tarjeta-frame14 {
  gap: 372px;
  width: 100%;
  height: 72px;
  display: flex;
  padding: 0 80px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.tarjeta-frame13 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.tarjeta-vector {
  width: 32px;
  height: 24px;
}
.tarjeta-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.tarjeta-frame15 {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;
}
.tarjeta-text02 {
  color: rgba(255, 255, 255, 1);
  width: 80px;
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.tarjeta-text04 {
  color: rgba(255, 255, 255, 1);
  width: 80px;
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.tarjeta-frame16 {
  gap: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.tarjeta-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.tarjeta-frame12 {
  gap: 80px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tarjeta-frame9 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
.tarjeta-frame8 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tarjeta-frame6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tarjeta-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.tarjeta-frame4 {
  gap: 8px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.tarjeta-text10 {
  color: rgba(7, 7, 7, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.tarjeta-frame81 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tarjeta-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.tarjeta-frame41 {
  gap: 8px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.tarjeta-text14 {
  color: rgba(7, 7, 7, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.tarjeta-frame7 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tarjeta-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.tarjeta-frame5 {
  gap: 8px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.tarjeta-text18 {
  color: rgba(7, 7, 7, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.tarjeta-button {
  gap: 8px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(110, 11, 11, 1);
}
.tarjeta-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
